stages:
   - build

variables:
    FULL_BUILD:
       value: "0"
       description: "Enable full build with various cpompilers."

.base_template:
  stage: build
  interruptible: true
  cache:
    paths:
      - ext/ccache
    key: $CI_JOB_NAME
    when: always
  variables:
    CCACHE_DIR: "${CI_PROJECT_DIR}/ext/ccache"
    CCACHE_MAXSIZE: 500M
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  tags:
    - docker

.build_only_template:
   extends: .base_template
   script:
      - make disable-lto=1 all

.build_only_template_full:
   extends: .build_only_template
   rules:
      - if: '$FULL_BUILD == "1"'

.build_test_template:
   extends: .base_template
   variables:
     CTEST_OUTPUT_ON_FAILURE: 1
   script:
      - make disable-lto=1 all
      - make disable-lto=1 test

.build_test_macos_template:
   extends: .build_test_template
   script:
      - make osx-arch=${OSX_ARCH} disable-lto=1 all
      - make osx-arch=${OSX_ARCH} disable-lto=1 test

.build_test_msvc_template:
   extends: .build_test_template
   script:
      - make msvc-arch=${MSVC_ARCH} disable-lto=1 all
      - make msvc-arch=${MSVC_ARCH} disable-lto=1 test

.build_msvc_template:   # this extra template is needed to set msvc-arch=${MSVC_ARCH}
  extends: .build_only_template_full
  script:
    - make msvc-arch=${MSVC_ARCH} enable-lto=${ENABLE_LTO} all

build_gcc5_ubuntu1804:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_1804_full:latest
   variables:
     CC: gcc-5
     CXX: g++-5

build_gcc6_ubuntu1804:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_1804_full:latest
   variables:
     CC: gcc-6
     CXX: g++-6

build_gcc7_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-7
     CXX: g++-7

build_gcc8_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-8
     CXX: g++-8

build_gcc9_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-9
     CXX: g++-9

build_gcc10_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-10
     CXX: g++-10

build_gcc11_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: gcc-11
     CXX: g++-11


build_gcc12_ubuntu2204:
   extends: .build_only_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: gcc-12
     CXX: g++-12

build_gcc13_ubuntu2404:
   extends: .build_only_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2404_full:latest
   variables:
     CC: gcc-13
     CXX: g++-13

build_gcc14_ubuntu2404:
   extends: .build_only_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2404_full:latest
   variables:
     CC: gcc-14
     CXX: g++-14

build_clang7_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-7
     CXX: clang++-7

build_clang8_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-8
     CXX: clang++-8

build_clang9_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-9
     CXX: clang++-9

build_clang10_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-10
     CXX: clang++-10

build_clang11_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-11
     CXX: clang++-11

build_clang12_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-12
     CXX: clang++-12

build_clang13_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-13
     CXX: clang++-13

build_clang14_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-14
     CXX: clang++-14

build_clang15_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-15
     CXX: clang++-15

build_clang16_ubuntu2404:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2404_full:latest
   variables:
     CC: clang-16
     CXX: clang++-16

build_clang17_ubuntu2404:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2404_full:latest
   variables:
     CC: clang-17
     CXX: clang++-17

build_clang18_ubuntu2404:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2404_full:latest
   variables:
     CC: clang-18
     CXX: clang++-18

build_mingw_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     toolchainfile: cmake/toolchains/x86_64-w64-mingw32-gcc-posix-ubuntu2004.cmake

build_aarch64_gcc_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     toolchainfile: cmake/toolchains/aarch64-linux-gnu-gcc-ubuntu2204.cmake


test_ubuntu1804:
   extends: .build_test_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_1804_full:latest

test_ubuntu2004:
   extends: .build_test_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest

test_ubuntu2204:
   extends: .build_test_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest

test_vs2017:
   extends: .build_test_msvc_template
   variables:
      MSVC_ARCH: x64
      # use VS 2017 compilers:
      CONFIG_OPTIONS: -T v141
   tags:
      - vs2022

test_vs2019:
   extends: .build_test_msvc_template
   variables:
      MSVC_ARCH: x64
      # use VS 2019 compilers:
      CONFIG_OPTIONS: -T v142
   tags:
      - vs2022

test_vs2022_Win32:
  extends: .build_test_msvc_template
  variables:
     MSVC_ARCH: Win32
  tags:
    - vs2022

test_vs2022:
  extends: .build_test_msvc_template
  variables:
     MSVC_ARCH: x64
  tags:
    - vs2022

build_vs2022_arm64:
  extends: .build_msvc_template
  variables:
     MSVC_ARCH: arm64
  tags:
    - vs2022

test_macos-x86_64:
   extends: .build_test_macos_template
   variables:
      OSX_ARCH: x86_64
   tags:
      - macos-x86_64

test_macos-arm:
   extends: .build_test_macos_template
   variables:
      OSX_ARCH: arm64
   tags:
      - macos-arm
