stages:
   - build

variables:
    FULL_BUILD:
       value: "0"
       description: "Enable full build with various cpompilers."

.base_template:
  stage: build
  interruptible: true
  cache:
    paths:
      - ext/ccache
    key: $CI_JOB_NAME
    when: always
  variables:
    CCACHE_DIR: "${CI_PROJECT_DIR}/ext/ccache"
    CCACHE_MAXSIZE: 500M
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  tags:
    - docker

.build_only_template:
   extends: .base_template
   script:
      - make disable-lto=1 all

.build_only_template_full:
   extends: .build_only_template
   rules:
      - if: '$FULL_BUILD == "1"'

.build_test_template:
   extends: .base_template
   variables:
     CTEST_OUTPUT_ON_FAILURE: 1
   script:
      - make disable-lto=1 all
      - make disable-lto=1 test

.build_test_macos_template:
   extends: .build_test_template
   script:
      - make osx-arch=${OSX_ARCH} disable-lto=1 all
      - make osx-arch=${OSX_ARCH} disable-lto=1 test
      
.build_test_msvc_template:
  extends: .build_test_template
  script:
    - make msvc-arch=${MSVC_ARCH} disable-lto=1 all
    - make msvc-arch=${MSVC_ARCH} disable-lto=1 test

.build_only_ubuntu2004_mingw_template:
   extends: .build_only_template_full
   script:
      - make toolchainfile=cmake/toolchains/x86_64-w64-mingw32-gcc-posix-ubuntu2004.cmake disable-lto=1 all


build_gcc5_ubuntu1804:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_1804_full:latest
   variables:
     CC: gcc-5
     CXX: g++-5

build_gcc6_ubuntu1804:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_1804_full:latest
   variables:
     CC: gcc-6
     CXX: g++-6

build_gcc7_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-7
     CXX: g++-7

build_gcc8_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-8
     CXX: g++-8

build_gcc9_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-9
     CXX: g++-9

build_gcc10_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: gcc-10
     CXX: g++-10

build_gcc11_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: gcc-11
     CXX: g++-11


build_gcc12_ubuntu2204:
   extends: .build_only_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: gcc-12
     CXX: g++-12

build_clang7_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-7
     CXX: clang++-7

build_clang8_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-8
     CXX: clang++-8

build_clang9_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-9
     CXX: clang++-9

build_clang10_ubuntu2004:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest
   variables:
     CC: clang-10
     CXX: clang++-10

build_clang11_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-11
     CXX: clang++-11

build_clang12_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-12
     CXX: clang++-12

build_clang13_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-13
     CXX: clang++-13

build_clang14_ubuntu2204:
   extends: .build_only_template_full
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest
   variables:
     CC: clang-14
     CXX: clang++-14

build_mingw_ubuntu2004:
   extends: .build_only_ubuntu2004_mingw_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest

build_vc191x:
   extends: .build_only_template
   tags:
      - vc191x

build_vc192x:
   extends: .build_only_template
   tags:
      - vc192x

test_ubuntu1804:
   extends: .build_test_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_1804_full:latest

test_ubuntu2004:
   extends: .build_test_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2004_full:latest

test_ubuntu2204:
   extends: .build_test_template
   image: $CI_REGISTRY/pub/dockerimages/ubuntu_2204_full:latest

test_vc191x:
   extends: .build_test_msvc_template
  variables:
    MSVC_ARCH: x64
   tags:
      - vc191x

test_vc192x:
   extends: .build_test_msvc_template
  variables:
    MSVC_ARCH: x64
   tags:
      - vc192x
      
test_vc193x_Win32:
  extends: .build_test_msvc_template
  variables:
    MSVC_ARCH: Win32
  tags:
    - vc193x
    
test_vc193x:
  extends: .build_test_msvc_template
  variables:
    MSVC_ARCH: x64
  tags:
    - vc193x

test_macos-x86_64:
   extends: .build_test_macos_template
   variables:
      OSX_ARCH: x86_64
   tags:
      - macos-x86_64

test_macos-arm:
   extends: .build_test_macos_template
   variables:
      OSX_ARCH: arm64
   tags:
      - macos-arm
