#======== File I/O =====================
BitstreamFile                 : str.bin
ReconFile                     : rec.yuv

#======== Profile ================
Profile                       : auto

#======== Coding Structure =============
IntraPeriod                   : -1          # Period of I-Frame ( -1 = only first)
DecodingRefreshType           : 0           # Random Accesss 0:none, 1:CRA, 2:IDR, 3:Recovery Point SEI
GOPSize                       : 8           # GOP Size (number of B slice = GOPSize-1)

IntraQPOffset                 : -1
LambdaFromQpEnable            : 1           # see JCTVC-X0038 for suitable parameters for IntraQPOffset, QPoffset, QPOffsetModelOff, QPOffsetModelScale when enabled
#        Type POC QPoffset QPOffsetModelOff QPOffsetModelScale CbQPoffset CrQPoffset QPfactor tcOffsetDiv2 betaOffsetDiv2 CbTcOffsetDiv2 CbBetaOffsetDiv2 CrTcOffsetDiv2 CrBetaOffsetDiv2 temporal_id #ref_pics_active_L0 #ref_pics_L0   reference_pictures_L0 #ref_pics_active_L1 #ref_pics_L1   reference_pictures_L1
Frame1:    B   1   5       -6.5                      0.2590         0          0          1.0      0            0               0              0                0               0               0             4                4         1 9 17 25                     4                   4      1 9 17 25
Frame2:    B   2   4       -6.5                      0.2590         0          0          1.0      0            0               0              0                0               0               0             4                4         1 2 10 18                     4                   4      1 2 10 18
Frame3:    B   3   5       -6.5                      0.2590         0          0          1.0      0            0               0              0                0               0               0             4                4         1 3 11 19                     4                   4      1 3 11 19
Frame4:    B   4   4       -6.5                      0.2590         0          0          1.0      0            0               0              0                0               0               0             4                4         1 4 12 20                     4                   4      1 4 12 20
Frame5:    B   5   5       -6.5                      0.2590         0          0          1.0      0            0               0              0                0               0               0             4                4         1 5 13 21                     4                   4      1 5 13 21
Frame6:    B   6   4       -6.5                      0.2590         0          0          1.0      0            0               0              0                0               0               0             4                4         1 6 14 22                     4                   4      1 6 14 22
Frame7:    B   7   5       -6.5                      0.2590         0          0          1.0      0            0               0              0                0               0               0             4                4         1 7 15 23                     4                   4      1 7 15 23
Frame8:    B   8   1        0.0                      0.0            0          0          1.0      0            0               0              0                0               0               0             4                4         1 8 16 24                     4                   4      1 8 16 24

#=========== Motion Search =============
FastSearch                    : 4           # 0:Full search  1:TZ search
SearchRange                   : 64         # (0: Search range is a Full frame)
#ASR                           : 1           # Adaptive motion search range
#MinSearchWindow               : 96          # Minimum motion search window size for the adaptive window ME
BipredSearchRange             : 4           # Search range for bi-prediction refinement
HadamardME                    : 1           # Use of hadamard measure for fractional ME
FEN                           : 1           # Fast encoder decision
FDM                           : 1           # Fast Decision for Merge RD cost

#======== Quantization =============
QP                            : 32          # Quantization parameter(0-51)
MaxCuDQPSubdiv                : 0           # Maximum subdiv for CU luma Qp adjustment
RDOQ                          : 2           # RDOQ
RDOQTS                        : 1           # RDOQ for transform skip
SignHideFlag                  : 1

#=========== Deblock Filter ============
LoopFilterOffsetInPPS         : 1           # Dbl params: 0=varying params in SliceHeader, param = base_param + GOP_offset_param; 1 (default) =constant params in PPS, param = base_param)
LoopFilterDisable             : 0           # Disable deblocking filter (0=Filter, 1=No Filter)
LoopFilterBetaOffset_div2     : 0           # base_param: -12 ~ 12
LoopFilterTcOffset_div2       : 0           # base_param: -12 ~ 12
LoopFilterCbBetaOffset_div2   : 0           # base_param: -12 ~ 12
LoopFilterCbTcOffset_div2     : 0           # base_param: -12 ~ 12
LoopFilterCrBetaOffset_div2   : 0           # base_param: -12 ~ 12
LoopFilterCrTcOffset_div2     : 0           # base_param: -12 ~ 12
DeblockingFilterMetric        : 0           # blockiness metric (automatically configures deblocking parameters in bitstream). Applies slice-level loop filter offsets (LoopFilterOffsetInPPS and LoopFilterDisable must be 0)

#=========== Misc. ============
InternalBitDepth              : 10          # codec operating bit-depth

#=========== Coding Tools =================
#TransformSkipFast             : 1           # Fast Transform skipping (0: OFF, 1: ON)
#SAOLcuBoundary                : 0           # SAOLcuBoundary using non-deblocked pixels (0: OFF, 1: ON)

#============ VTM settings ======================
SEIDecodedPictureHash               : 0
CbQpOffset                          : 0
CrQpOffset                          : 0
SameCQPTablesForAllChroma           : 1
QpInValCb                           : 17 22 34 42
QpOutValCb                          : 17 23 35 39
ReWriteParamSets                    : 1
#============ NEXT ====================

# General
CTUSize                      : 128
LCTUFast                     : 1

DualITree                    : 1      # separate partitioning of luma and chroma channels for I-slices
MinQTLumaISlice              : 8
MinQTChromaISliceInChromaSamples: 4   # minimum QT size in chroma samples for chroma separate tree
MinQTNonISlice               : 32
MaxMTTHierarchyDepth         : 1
MaxMTTHierarchyDepthISliceL  : 1
MaxMTTHierarchyDepthISliceC  : 1

# tools not supported by vvc
#BCW                          : 0
#BcwFast                      : 1
#IBC                          : 0      # turned off in CTC
#AffineAmvr                   : 0

# tools supported by vvc
Affine                       : 0      # Affine prediction: 0: disabled, 1: vtm, 2: fast
ALF                          : 0      # Adpative Loop Filter: 0: disabled, 1: enabled
AllowDisFracMMVD             : 0      # Disable fractional MVD in MMVD mode adaptively
BDPCM                        : 2      # BDPCM (0: off, 1: luma and chroma, 2: BDPCM with SCC detection)
BIO                          : 0      # Bi-directional optical flow: 0: disabled, 1: enabled
CCALF                        : 0      # Cross-component Adaptive Loop Filter: 0: disabled, 1: enabled
ChromaTS                     : 0      # Chroma transform skip: 0: disabled, 1: enabled
CIIP                         : 0      # CIIP mode: 0: disable, 1: vtm, 2: fast, 3: faster
DepQuant                     : 0      # Dependent quantization: 0: disabled, 1: enabled
DMVR                         : 0      # Decoder-side Motion Vector Refinement: 0: disabled, 1: enabled
EncDbOpt                     : 0      # Encoder optimization with deblocking filter 1:default 2:fast
Geo                          : 0      # Geometric partitioning mode: 0: disabled, 1: vtm, 2: good quality, 3: fast
IMV                          : 0      # Adaptive MV precision Mode (IMV): 0: disabled, 1:vtm, 2-7: fast modes
ISP                          : 0      # Intra subpartitions: 0: disabled, 1: enabled, 2: fast, 3: faster
JointCbCr                    : 0      # Joint coding of chroma residuals: 0: disabled, 1: enabled
LFNST                        : 0      # LFNST: 0: disabled, 1: enabled
LMChroma                     : 1      # LMChroma prediction: 0: disabled, 1: enabled
LMCSEnable                   : 0      # LMCS: 0: disable, 1:enable
LMCSOffset                   : 1      # chroma residual scaling offset
LMCSSignalType               : 0      # Input signal type: 0:SDR, 1:HDR-PQ, 2:HDR-HLG
LMCSUpdateCtrl               : 2      # LMCS model update control: 0:RA, 1:AI, 2:LDB/LDP
MaxNumMergeCand              : 6
MCTF                         : 0      # GOP based temporal filter (0:off, 1:filter all frames, 2:use SCC detection to disable for screen coded content)
MCTFFutureReference          : 0      # Enable referencing of future frames in the GOP based temporal filter. This is typically disabled for Low Delay configurations
MIP                          : 0      # Matrix-based intra prediction: 0: disabled, 1: enabled
MMVD                         : 0      # Merge mode with Motion Vector Difference: 0: disabled, 1: vtm, 2-4 fast modes
MRL                          : 0      # MultiRefernceLines
MTS                          : 0      # Multiple transform selection: 0: disabled, 1: enabled
MTSImplicit                  : 1      # Implicit MTS (when explicit MTS is off): 0: disabled, 1: enabled
PROF                         : 0      # Prediction refinement with optical flow for affine mode: 0: disabled, 1: enabled
SAO                          : 1      # Sample adaptive offset, 0: disabled, 1: enabled
SBT                          : 0      # Sub-Block Transform for inter blocks: 0: disable, 1: vtm, 2: fast, 3: faster
SbTMVP                       : 0      # Subblock Temporal Motion Vector Prediction: 0: disabled, 1: enabled
SMVD                         : 0      # Symmetric MVD 0: disable, 1: vtm, 2: good quality, 3: fast
TMVPMode                     : 1      # TMVP mode 0: TMVP disable for all slices. 1: TMVP enable for all slices 2: TMVP enable for certain slices only
TransformSkip                : 2      # Transform skipping, 0: disabled, 1: enabled, 2: TransformSkip with SCC detection
TransformSkipLog2MaxSize     : 3
UseNonLinearAlfChroma        : 0      # Non-linear adaptive loop filters for Chroma Channels: 0: disabled, 1: enabled
UseNonLinearAlfLuma          : 0      # Non-linear adaptive loop filters for Luma Channel: 0: disabled, 1: enabled

# Fast tools
QtbttExtraFast               : 2      # Non-VTM compatible QTBTT speed-ups: 0: disabled, 1: enabled
ContentBasedFastQtbt         : 1      # Signal based QTBT speed-up: 0: disabled, 1: enabled
PBIntraFast                  : 1      # Fast assertion if the intra mode is probable: 0: disabled, 1: enabled
#ISPFast                      : 0
FastMrg                      : 2      # Fast methods for inter merge: 0: disabled, 1: vtm, 2: fast
AMaxBT                       : 1      # Adaptive maximal BT-size: 0: disabled, 1: enable
FastMIP                      : 0      # Fast encoder search for MIP 0: disable, 1:vtm, 2-4: fast
#FastLFNST                    : 0
FastLocalDualTreeMode        : 2      # Fast intra pass coding for local dual-tree in intra coding region: 0: disable, 1: use threshold, 2: one intra mode only
FastSubPel                   : 1      # Fast sub-pel ME: 0: disabled, 1: enabled

# Encoder optimization tools
#AffineAmvrEncOpt             : 1
#MmvdDisNum                   : 6
### DO NOT ADD ANYTHING BELOW THIS LINE ###
### DO NOT DELETE THE EMPTY LINE BELOW ###



