name: CI build

on:
  push:
  pull_request:
  release:
    types:
      - created

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              name: "Windows MSVC 64 Bit",
              os: windows-2022,
              environment_script: "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvars64.bat",
              generators: "Visual Studio 17 2022",
              msvc_arch: x64
            }
          - {
              name: "Windows MSVC 32 Bit",
              os: windows-2022,
              environment_script: "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvars32.bat",
              generators: "Visual Studio 17 2022",
              msvc_arch: Win32
            }
          - {
              name: "Windows MSVC arm64",
              os: windows-2022,
              environment_script: "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvars64.bat",
              generators: "Visual Studio 17 2022",
              msvc_arch: arm64,
            }
          - {
              name: "Windows MinGW",
              os: windows-2022,
              cc: "gcc",
              cxx: "g++",
              generators: "MinGW Makefiles"
            }
          - {
              name: "Ubuntu 22.04",
              os: ubuntu-22.04
            }
          - {
              name: "Ubuntu 24.04",
              os: ubuntu-24.04
            }
          - {
              name: "Mac OS Latest x86_64",
              os: macos-latest,
              osx_arch: x86_64
            }
          - {
              name: "Mac OS Latest arm64",
              os: macos-latest,
              osx_arch: arm64
            }
    env:
      CMAKE_GENERATOR: "${{ matrix.config.generators }}"
    steps:
    - uses: actions/checkout@v4
    - run: git fetch --prune --unshallow

    - name: Ubuntu/Mac OS X/MinGW build
      if: ${{ !contains( matrix.config.generators, 'Visual Studio' ) }}
      run: |
        cmake -S . -B build/static -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=0 "-DCMAKE_OSX_ARCHITECTURES=${{ matrix.config.osx_arch }}"
        cmake --build build/static
        cmake -S . -B build/shared -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=1 "-DCMAKE_OSX_ARCHITECTURES=${{ matrix.config.osx_arch }}"
        cmake --build build/shared

    - name: MSVC build
      if: contains( matrix.config.generators, 'Visual Studio' )
      shell: pwsh
      run: |
        $ErrorActionPreference = 'stop'
        $PSNativeCommandUseErrorActionPreference = $true
        cmake -S . -B build/static  -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=0 -A "${{ matrix.config.msvc_arch }}"
        cmake --build build/static --config Release
        cmake -S . -B build/shared  -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=1 -A "${{ matrix.config.msvc_arch }}"
        cmake --build build/shared --config Release
    
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.config.name }}-artifacts
        path: |
          bin/
          lib/
        if-no-files-found: warn
